@import "config";

body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.scaleImageButtons {
  @include button($primaryColor);
  display: none;
}

#generateButton {
  @include button($secondaryColor);
  display: none;
}

#importButton {
  @include button($secondaryColor);
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  flex-direction: column;
  text-align: center;

  .column {
    width: 99%;
    margin: 0.5%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .buttonContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 40%;
      margin: 10px 0;
    }

    #canvas {
      width: 900px;
      height: 600px;
      border: dotted;
      margin: 25px 0;
    }

    #imageContainer,
    #debugContainer {
      padding: 1em;
      box-sizing: border-box;
    }

    #imageContainer img {
      width: 100%;
      transition: all 0.4s ease;
    }

    #generatedDataTextarea {
      display: none;
      min-height: 180px;
      width: 24%;
      border: solid 1px #ddd;
      border-radius: 5px;
      margin: 0 0 15px 0;
    }
  }

  .loadingContainer {
    display: none;

    .loader {
      border: 5px solid #f3f3f3;
      border-top: 5px solid #3498db;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
